<!-- templates/blog/about.html -->
{% extends 'base.html' %}
  {% block main %}

    <div class="content-body">
			<div class="container">
				<div class="row" style="width: 750px">
					<main class="col-md-12">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<h2 id="_2">SummerTwilight</h2>
                                <p>出生于西南小城 习惯了一个人坐在电脑前
                                    喜欢一个人听着音乐 梦想着一天有一趟说走就走的旅行·······目前刚结束大学生活，工作于畅游。</p>
                                    <ul>
                                    <li>会一点python，C++编程语言。</li>
                                    <li>想学习很多东西，却总是只在想。</li>
                                    <li>喜欢吃各种火锅、烤肉、烧烤。</li>
                                    </ul>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
									<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
  {% endblock main %}
